body {
  font-family: Arial, sans-serif;
  background-color: #eef2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
}
h3{
  text-align: center;
  font-size: 25px;
}
input{
  width: 92%;
  padding: 10px;
  margin: 10px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn{
  display: block;
  width: 100%;
  padding: 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 7px;
}
.error {
  color: red;
  margin-bottom: 15px;
}
